.sk-dropdown__button {
    width: 30px;
    height: 29px;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: background-color 0.2s ease-in-out;
    font-size: 15px;

    &:hover {
        background-color: var(--primary-color);
    }
}

.sk-dropdown__options {
    button {
        white-space: nowrap;
        align-items: center;
        border-radius: 10px;
        color: rgba(var(--text-color-rgb), .9);
        display: flex;
        font-size: 14px;
        gap: 10px;
        padding: 8px 10px;
        min-width: 100%;

        background-color: #1a1c1eba;

        &:hover {
            background-color: #1a1c1e;
        }

        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}