@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: inherit;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
}

button {
  border: unset;
  outline: unset;
  cursor: pointer;
  background-color: transparent;
}

h1 {
  font-weight: 400;
  font-size: 1.5em;
}

h2 {
  font-weight: 300;
}

[popover] {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--table-color);
  padding: 10px;
  border: 1px solid var(--background-color);
}