[data-layout="login"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    footer {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px;
        color: rgba(var(--text-color-rgb), 0.3);

        a {
            text-decoration: underline;
        }
    }
}

[data-layout="default"] {
    --header-height: 75px;

    > header {
        position: fixed;
        top: 0;
        right: 10px;
        left: 0;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;
        backdrop-filter: blur(7px);
        z-index: 5;

        > div {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    > header {
        .dropdown_actions {
            height: 45px;
            padding: 7px 5px;
            width: 45px;
            background-color: var(--table-color);
            border-radius: 15px;
        }
    }

    > main {
        padding: var(--header-height) 30px 0 30px;
        overflow: scroll;
        height: 100%;

        /* First child */
        > *:first-child {
            height: 100%;
        }
    }
}