[data-layout="login"] {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

[data-layout="default"] {
    --header-height: 75px;

    height: 100vh;

    > header {
        position: fixed;
        top: 0;
        right: 10px;
        left: 0;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;
        backdrop-filter: blur(7px);
        z-index: 5;

        > div {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    > header {
        .dropdown_actions {
            height: 45px;
            padding: 7px 5px;
            width: 45px;
            background-color: var(--table-color);
            border-radius: 15px;
        }
    }

    > main {
        padding: var(--header-height) 30px 30px 30px;
        overflow: scroll;
        height: 100%;
    }
}