/* Flex */
.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gap */
.ga-1 {
    gap: 1rem;
}

.ga-2 {
    gap: 2rem;
}

/* Margin */
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* Text Color */
.text-primary {
    color: var(--primary-color);
}

.text-gray {
    color: gray;
}