/* Flex */
.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gap */
.ga-05 {
    gap: 0.5rem;
}

.ga-1 {
    gap: 1rem;
}

.ga-2 {
    gap: 2rem;
}

/* Margin */
.mt-auto {
	margin-top: auto;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* Text Color */
.text-primary {
    color: var(--primary-color);
}

.text-gray {
    color: gray;
}

/* Padding */
.p-1 {
    padding: 1.5rem;
}

.px-1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Width */
.w-100 {
	width: 100%;
}

/* Common */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}